@import "~@flaticon/flaticon-uicons/css/all/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 49, 4, 4;
  --background-rgb: 255, 255, 255;
}

body {
  user-select: none;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

footer {
  background-color: rgb(var(--background-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
